*{
box-sizing: border-box;
}
p{
    width: 400px;
    padding: 100px;
}
body{
    margin: 0;
}
header{
    background-color: aquamarine;
    position: sticky;
    top: 0;
    padding: 50px;
    width: 100px;
    height: 1200px;
}