*{
    box-sizing: border-box;
}
.block1{
    width: 200px;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
}
.block2{
    width: 400px;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
    position: relative;
    left: 10px;
}
#oval{
    width: 300px;
    padding: 20px;
    float: left;
    position: relative;
}
#square{
    color: brown;
}
.img-block>img{
    width: 250px;
}