.footer{
    background-color: white;
    height: 8rem;
    width: 100%;
}

.wrapperFooter{
    width: 40rem;
}

.brandicons{
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fa-whatsapp {
    height: 2.5rem;
}
.fa-instagram {
    height: 2.5rem;
}
.footerText{
    text-align: center;
}
  