*{
    box-sizing: border-box
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: cornflowerblue;
}
.second-font{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.third-font{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.wrapper{
    width: 360px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
}
#icon{
    width: 30px;
    height: 30px;
    padding: 56px 302px 714px 28px;
}
header p{
    width: 87px;
    height: 39px;
    font-size: 32px;
    font-family: 600;
    position: relative;
    top: -700px;
    left: 22px;
}
input{
    background-color: #EFEFEF;
    width: 316px;
    height: 44px;
    border-radius: 12px;
    position: relative;
    top: -715px;
    left: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: none;
    padding: 15px;
    color: #999;
}
.food{
    width: 74px;
    height: 74px;
    background-color: #EAE2B7;
    border-radius: 12px;
    position: relative;
    top: -685px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food img{
    width: 37px;
    height: 37px;
}
.drinks{
    width: 74px;
    height: 74px;
    background-color: #EFEFEF;
    border-radius: 12px;
    position: relative;
    top: -758px;
    left: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drinks img{
    width: 37px;
    height: 37px;
}
.dessert{
    width: 74px;
    height: 74px;
    background-color: #EFEFEF;
    border-radius: 12px;
    position: relative;
    top: -832px;
    left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dessert img{
    width: 37px;
    height: 37px;
}
.food p{
    width: 39px;
    height: 19px;
    position: absolute;
    top: 67px;
    left: 17px;
}
.drinks p{
    width: 39px;
    height: 19px;
    position: absolute;
    top: 67px;
    left: 14px;
    color: #C4C4C4;
}
.dessert p{
    width: 39px;
    height: 19px;
    position: absolute;
    top: 67px;
    left: 8px;
    color: #C4C4C4;
}
#burger{
    position: absolute;
    top: 349px;
    left: 28px;
    font-size: 20px;
    font-weight: 500;
}
.block-1{
    width: 316px;
    height: 88px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    position: relative;
    top: -744px;
    left: 26px;
}
.block-2{
    width: 316px;
    height: 88px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    position: relative;
    top: -745px;
    left: 26px;
}
.block-3{
    width: 316px;
    height: 88px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    position: relative;
    top: -746px;
    left: 26px;
}
.block-1 img{
    width: 60px;
    height: 68.5px;
    position: absolute;
    top: 7px;
    left: 18px;
}
.block-1 p{
    position: relative;
    top: 22px;
    left: 96px;
}
.block-2 img{
    width: 60.8px;
    height: 55px;
    position: absolute;
    top: 16px;
    left: 18px;
}
.block-2 p{
    position: relative;
    top: 22px;
    left: 96px;
}
.block-3 img{
    width: 70px;
    height: 60px;
    position: absolute;
    top: 19px;
    left: 14px;
}
.block-3 p{
    position: relative;
    top: 22px;
    left: 96px;
}
.price-1{
    position: relative;
    top: -989px;
    left: 122px;
    color: #D62828;
}
.price-2{
    position: relative;
    top: -905px;
    left: 122px;
    color: #D62828;
}
.price-3{
    position: relative;
    top: -824px;
    left: 122px;
    color: #D62828;
}