*{
    box-sizing: border-box;
}
p{
    width: 400px;
   /*  height: 150px; */
   /*   height: auto; */
   background-color: beige;
   /*  padding-top: 50px;
   padding-right: 100px;
   padding-bottom: 70px;
   padding-left: 100px; */
   /*   padding: 50px 100px 200px 50px; */
padding: 50px;

/* margin-top: 100px;
margin-right: 100px;
margin-bottom: 200px;
margin-left: 100px; */
/* margin: 50px 100px 50px 100px; */
/* margin: 50px 100px;
 */
/* margin: 16px auto; */ /* для отцентрования текста на любом экране */
}
a{
    text-decoration: none;
    display: block;
}
