*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}
header{
    padding-top: 65px;
    padding-bottom: 59px;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}
.logo,
.social-block{
    float: left;
    display: inline-block;
    width: 470px;
    vertical-align: middle;
}
.social-block{
    text-align: right;
}
.social-block a{
    display: inline-block;
    margin-right: 21px;
    font-size: 80px;
}