*{
    margin: 0;
    padding: 0;
}
article{
    width: 60%;
    margin: auto;
}
.cartBox img{
    width: 50px;
    height: 80px;
}
.cartImage{
    display: flex;
    width: 400px;
}
.cartBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid #f39898;
    padding-bottom: 5px;
}
.cartBox div:nth-child(2) button{
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}
.cartBox div:nth-child(3) button{
    padding: 5px 10px;
}